<!DOCTYPE html>
<html>
<head>
	<h1 align="center">Create Users</h1>
</head>
<script src="js/lib/angular.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/CreateUserController.js"></script>
<script src="js/app/FetchAllUsersController.js"></script>
<script src="js/app/DeleteUserController.js"></script>
<script src="js/app/Services.js"></script>

<hr/>
<body ng-app="userapp">

	<div class="container" ng-controller="CreateUserController">
    <div class="row" align="center">
        <label>First Name</label> <input type="text" ng-model="users.userFirstName" class="input-sm spacing"/><br/><br/>
        <label>Last Name</label> <input type="text" ng-model="users.userLastName" class="input-sm spacing"/><br/><br/>
        <label>Age</label> <input type="number" ng-model="users.userAge" class="input-sm spacing"/><br/><br/>
        <label>Phone Number</label> <input type="number" ng-model="users.userPhoneNumber" class="input-sm spacing"/><br/><br/>
       	<button ng-click="createUser()" class="btn btn-sm btn-info">Submit</button><br/><br/>
       	<button><a href="home">Home</button><br/><br/>
       </div>
       </div>
       

</body>


<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
</html>
	