<!DOCTYPE html>
<html>
<head>
	<h1 align="center">Delete/Update Users</h1>
</head>
<script src="js/lib/angular.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/CreateUserController.js"></script>
<script src="js/app/FetchAllUsersController.js"></script>
<script src="js/app/DeleteUserController.js"></script>
<script src="js/app/Services.js"></script>
<hr/>
<body ng-app="userapp">

	<div class="container" ng-controller="FetchUsersController">
    <div class="row" align="center">
        <label>Enter User First Name to delete or update</label> <input type="text" ng-model="users.userFirstNameSearch" class="input-sm spacing"/><br/><br/>
        <button ng-click="fetchUser()" class="btn btn-sm btn-info">Search</button><br/><br/>
       	    <button><a href="home">Home</a></button><br/><br/>       	
       </div>
       
       <hr/>
       
       
       <table class="table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.userId}}</td>
                            <td>{{user.userFirstName}}</td>
                            <td>{{user.userLastName}}</td>
                            <td>{{user.userAge}}</td>
                          	<td ng-hide="!users.length">
                          	<button ng-controller="DeleteUsersController" ng-click="deleteUser()" class="btn btn-sm btn-info">Delete</button></td>
                          </tr>
                        
       </div>
       	

</body>


<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
</html>
	